# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Archivos de configuración privada ===
.env
*.env
backend/.env
frontend/.env

# === Entornos virtuales de Python ===
venv/
backend/venv/
__pycache__/

# === Node / React ===
node_modules/
frontend/node_modules/

# Otros archivos que no es necesario subir
.DS_Store
